body {
  background: white;
  color: black;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

a {
  color: black;
  display: block;
  text-decoration: none; 
}

h1, h2 {
  display: block;
  font-size: 12vw;
  margin: 0;
  text-transform: uppercase;
}

.bald-dad-body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}
