---
title: Bald Dad Dot Com
---

<div class="bald-dad-body">
  <a href="//daddlab.com" class="bald-dad-toggle">
    <h1 class="bald-dad">Bald Dad</h1>
    <h2 class="dadd-lab">Dadd Lab</h2>
  </div>
</div>