---
title: Bald Dad
---

<div class="bald-dad-body">
  <a href="//daddlab.com">
    <span class="align-left">Bald</span>
    <img src="https://instagram.ford1-1.fna.fbcdn.net/vp/547fdde45c4f27fdd0bbf201103d3292/5B93F703/t51.2885-15/e35/13108999_1175348272505484_1671904177_n.jpg" alt="bald dad">
    <span class="align-right">Dad</span>
  </a>
</div>